img{
    width: 350px;
    height: 350px;
}
#previousbtn{
    margin-right: 75px;;
}
#nextbtn{
    margin-left: 75px;
}
.titlu
  {
    text-align: center;
    margin: 0px auto;
    font-family: serif;
     
}